.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  border-radius: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $color-secondary-090;
}

.hasValue {
  color: $neutral-color;
}


.blue {
  background-color: $color-main-090;
}

.red {
  background-color: $color-error-100;
}

.isDisabled {
  background-color: $color-secondary-015;
  color: $color-secondary-030;
}

