$color-main-100:                     #0065D8;
$color-main-090:                     #0078FF;
$color-main-020:                     #C8E5FF;
$color-main-010:                     #DFF0FF;
$color-error-100:                    #ED0A34;
$color-error-015:                    #F1BBC0;
$color-error-010:                    #FDE6EB;
$color-secondary-090:                #3B4256;
$color-secondary-030:                #C6CACF;
$color-secondary-015:                #E1E3EA;
$color-secondary-005:                #F3F7FB;
$color-secondary-003:                #F9F9F9;
$neutral-color:                      #FFFFFF;
